/*Mira ya acomode tu codigo pero acuerdate que no le movi nada 
solo puse hasta abajo las propiedades de la imagen y ya eso lo puedes
mover solo estaba experimentando con unas cosas de imagenes en css nose 
que tanto va a hacer tu pagina pero ya esta bien la base de todo
y no dejes mucho espacio JAJAJAJA puedes usar prettier que es una extencion 
de aqui mismo lii */

/* Header style */
header {
   text-align: center;
   padding: 20px;
}

/* Navigation menu style */
nav {
   text-align: center;
   word-spacing: 30px;
   padding: 10px;
}

/* Creating the two-column layout */
* {
   box-sizing: border-box;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

/* Estilos para el cuerpo de la página */
body {
   font-family: Arial, sans-serif; /* Define la fuente de texto para todo el cuerpo */
   background-color: #0f0707; /* Color de fondo para toda la página */
}

/* Estilos para los encabezados */
h1 {
   color: #f3ecec; /* Color del texto del encabezado h1 */
}

/* Estilos para los párrafos */
p {
   font-size: 16px; /* Tamaño de fuente para los párrafos */
   line-height: 1.5; /* Espaciado entre líneas para los párrafos */
}

/* Estilos para los enlaces */
a {
   color: #1a7e43; /* Color del texto de los enlaces */
   text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
}

/* Estilos para el cuadro de texto de la publicación */
.post-text-box {
   flex: 70%;
   padding: 20px;
}

/* Estilos para el perfil */
.profile {
   flex: 70%;
   padding: 20px;
}

/* Estilos para la imagen y el título del perfil */
.profile img {
   width: 120px;
   display: block;
   margin-left: 0;
   margin-right: 0;
}

.profile h1 {
   text-align: center;
}

/* Estilos para el título */
title {
   text-align: center;
}
/* Estilos para la imagen de inicio */
.imgTatoo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.imgTatoo img {
   width: 600px;
   height: auto;
   border: 2px solid black;
   border-radius: 5px;
}
